.contact-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: transform 0.2s;
    background: #181818;

}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    gap: 10px;

}

.contact-item-inner{
width: 40px;
height: 40px;
cursor: pointer;

}



.contact-sub-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: transform 0.2s;
    gap: 10px;
    cursor: pointer;
}
.contact-sub-item:hover {
    color: #00bcd4;
    transform: scale(1.1);
}